@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");
/* Colours */
:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Edu NSW ACT Cursive", cursive;
  --primary-color: #862267; /* purple */
  --secondary-color: #3c1742; /* dark purple */
  --background-color: #f3ffb9; /*Background Color*/
  --highlight-color: #6c0e23; /* Dark red */
  --highlight-color-light: #c42021; /*red*/
}

/* General Styles */
h1,
h2,
h5 {
  color: var(--highlight-color-light);
  font-family: var(--secondary-font);
}

h1,
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-family: var(--primary-font);
}

li {
  font-family: var(--primary-font);
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
}

/* Body */
body {
  background-color: var(--background-color);
}

#tips .card {
  margin-bottom: 2rem;
}

#tips h5{
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.card-body {
  min-height: 456px;
}

.card {
  margin: 0 auto;
  float: none;
}

#hero-text {
  text-align: center;
  margin-bottom: 2rem;
}

#resources a{
  color: var(--highlight-color-light);
}

/* Footer */
#footer {
  background-color: var(--primary-color);
}

#footer h2 {
  color: white;
  font-family: var(--secondary-font);
}

#footer p {
  color: white;
  font-family: var(--primary-font);
}